<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pales_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Client_app"
        tools:targetApi="31">
        <activity
            android:name=".AprobarResenia"
            android:exported="false" />
        <activity
            android:name=".InformationActivity"
            android:exported="false" />
        <activity
            android:name=".BuscarJugador"
            android:exported="false" />
        <activity
            android:name=".EditarPerfil"
            android:exported="false" />
        <activity
            android:name=".PerfilJugador"
            android:exported="false" />
        <activity
            android:name=".ListarUsuarios"
            android:exported="false" />
        <activity android:name=".MiPerfil" />
        <activity
            android:name=".ListarPromociones"
            android:exported="false" />
        <activity
            android:name=".DetallePromocion"
            android:exported="false" />
        <activity
            android:name=".BuscarPromocion"
            android:exported="false" />
        <activity
            android:name=".ListarEventos"
            android:exported="false" />
        <activity
            android:name=".DetalleEvento"
            android:exported="false" />
        <activity
            android:name=".BuscarEvento"
            android:exported="false" />
        <activity
            android:name=".menu_principal"
            android:exported="false"
            android:label="@string/title_activity_menu_principal"
            android:theme="@style/Theme.Client_app.NoActionBar" />
        <activity
            android:name=".ReseniasActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>